.brand_area {
	padding-bottom: 50px;

	.main_title {
		margin-bottom: 55px;
		h2 {
			margin-bottom: 20px;
		}
		p {
			font-size: 13pt;
		}
	}
	@media (max-width: 1199px) {
		padding-bottom: 50px;
	}
	@media (max-width: 600px) {
		padding-bottom: 40px;
		margin-top: 3rem;
	}
	@media (max-width: 600px) {
		.main_title {
			p {
				font-size: 11.5pt;
				line-height: 23.5px;
			}
			margin: 20px 0 25px;
		}
	}
}

.skill_container#project-items {
	display: grid;
	-webkit-box-align: center;
	align-items: center;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 8fr;
	gap: 1.2rem;
	margin-bottom: 2rem;
	@media screen and (max-width: 768px) and (min-width: 601px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media screen and (max-width: 600px) {
		display: block;
		justify-content: center;
		.col-lg-4.col-md-4.col-sm-6 {
			width: auto;
		}
	}
}

.card__container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.11) 0px 1px 6px 0px;

	.main__content {
		padding: 1rem;
		background: rgb(255, 255, 255);
		height: 100%;

		.title__card {
			color: rgb(33, 33, 33);
			margin-bottom: 5px;
			padding-bottom: 0px;
		}

		.short__desc {
			color: rgb(33, 33, 33);
			padding-bottom: 0px;
			font-weight: 400;
			margin-bottom: 10px !important;
		}

		.short__info {
			margin-bottom: 10px;
			p {
				margin-bottom: 0;
				color: rgb(0, 0, 0);
			}
		}
		.desc {
			color: rgb(112, 112, 112);
			font-weight: 400;
			margin-bottom: 1rem;
			line-height: 22px;
			font-size: 16px;
		}
	}
	@media screen and (max-width: 600px) {
		margin-bottom: 1.2rem;
		.main__content {
			.desc {
				font-size: 14px;
			}
		}
	}
}
